/*---Section---*/
section {
    height: 75vh;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.enter_btn:hover {
    background-color: black;
    color: white;
}


.mem {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mem_block {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 50px;
    margin: 100px 25px;
    position: relative;
    line-height: 30px;
}

.mem_title {
    font-weight: bold;
}

input {
    border: none;
    border-bottom: 0.05px solid black;
    background-color: lightgrey;
    outline: none;
}

.reg_enter_btn,
.login_enter_btn {
    padding: 5px 15px;
    background-color: white;
    border: 0.05px solid darkgray;
    position: absolute;
    right: 15px;
    bottom: 8px;
    border-radius: 5px;
}

button:hover, button:focus {
    background-color: black;
    color: white;
    outline: none;
    /* border: solid black 1px; */
}
