/* Workspace-- Postit Settings */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }
  
#workspace_title {
    position: absolute;
    left: 135px;
    bottom: -50px;
    letter-spacing: -15px;
    font-size: 100px;
    color: white;
    opacity: 70%;
}
.workspace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 75vh;
    width: 100vw;
    overflow: auto;
    max-width:100%;
}

  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7A7A7A; }
}
  

#setting_btn, #close{
    outline: none;
}

/* Toolbar */
.cowork{
    cursor: pointer;
}
.shareLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 69px;
    left: 105px;
    width: 250px;
    height: 47px;
    background-color: lightgray;
    border-radius: 5px;
}

.link{
    display: inline-block;
    width: 200px;
    height: 25px;
    border: darkgray 1px solid;
    font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
}
.copyLink{
    cursor: pointer;
    margin: 0px 5px;
}

/* Postit Editing Area*/
[data-toggle="popover"] {
    line-height: 1;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 25px;
    border: 1px solid lightgray;
    font-family: 'Reenie Beanie', Verdana, Tahoma, sans-serif;
    font-size: 24px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffff88;
    color: black;
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    z-index: 0;
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    /* position: relative;  */

    /* -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s; */
    /* transition: all .5s; */
    /* -webkit-font-smoothing: antialiased; */
}

[data-toggle="popover"]:hover {
    /* background: #FFD900; */
    filter: brightness(90%);
}
.postit::placeholder {
    white-space: normal;
    font-size: 18px;
    color: black;
}
/* .postit .ui-selecting { 
    background-color: #FECA40; 
}
.postit .ui-selected { 
    background-color: #F39814; 
    color: white; 
} */


/* Postit Details */
.postit_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    /* width: 300px;
    height: 250px; */
}

.align_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-right: 25px solid transparent;
    box-shadow: gray;
    /* outline: darkgray solid 1px; */
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}
.close_postit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    color:transparent;
    position: absolute;
    top: 8px;
    right: 9px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.postit_input{
    margin: 10px 10px;
    height: 100%;
    width: 90%;
    background-color: transparent;
    font-family: 'Reenie Beanie', Verdana,Tahoma, sans-serif;
    font-weight: 100;
    border: none;
    resize: none;
}
.postit_input::placeholder{
    font-family: 'Reenie Beanie', Verdana,Tahoma, sans-serif;
    color: gray;
    align-self: center;

}
.postit_input:focus{
    outline: none;
}

.upload_pic {
    /* width: 100px;
    height: 100px; */
    /* max-width: 100%;
    max-height: 100%; */
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}


.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.title,
.postit_height {
    margin: 0px 10px 0px 5px;
}
.font_size{
    width:80px;
}
.font_size::placeholder {
    font-size: 10px;
}

.postit_size::placeholder {
    font-size: 10px;
}

#postit_width {
    margin: 0px 10px 0px 13px;
}
#post_height{
    margin: 0px 10px;
}

.select_btn{
    border: black solid 1px;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    margin: 0px;
}

.select_btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

#filename {
    font-family: 'Reenie Beanie', Verdana, sans-serif;
    font-size: 20px;
    margin-left: 8px;
}

label {
    margin: 0px;
}

span {
    margin-left: 5px;
}
.upload_img{
    /* align-self: center; */
    width: auto;
    height: auto;
}

.wrap_checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Popover Settings */
#main-title {
    cursor: pointer;
}

.popover-body {
    background-color: lightgray;
}

.bs-popover-auto[x-placement^=left]>.arrow::after,
.bs-popover-left>.arrow::after {
    right: 1px;
    border-width: .5rem 0 .5rem .5rem;
    border-left-color: lightgray;
}

.bs-popover-auto[x-placement^=right]>.arrow::after,
.bs-popover-right>.arrow::after {
    right: 1px;
    border-width: .5rem 0 .5rem .5rem;
    border-right-color: lightgray;
}
/* Collaboration */
.dropdown{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}
.dropImg{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.dropShow{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 5px;
    /* border: black 1px solid; */
}
.dropShow:hover{
    filter: brightness(0%);
}

  /* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position:absolute;
    top:30px;
    right:0px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
    display: block;
}
  
.dropNumber{
    color: gray;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dropdown_item{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dropName{
    font-size: 14px;
}
.dropColor{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin-left: 5px;
}
.saveStatus{
    position: absolute;
    top: 15px;
    right: 80px;
    color: #7A7A7A;
    font-weight: 400;
    font-family: Verdana;
    font-size: 10px;
    border-bottom: #7A7A7A solid 1px;
    animation: 
        blink-caret .75s step-end infinite;
        /* animation-duration: 10s; */
    
}
.lock_msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: black; 
    opacity: 70%; 
    font-size: 20px; 
    color: white; 
    text-align: center;
    height: 100%;
    width: 100%; 
    position: absolute;
    margin: 0px;
    padding: 5px 5px;
    visibility: hidden;
}
#lock_content{
    margin-bottom: 0px;
}
.collab_cursor{
    position: absolute;
    top:-68px;
    left:-66px;
    visibility: hidden;
    -webkit-clip-path: polygon(86% 87%, 87% 62%, 100% 100%, 56% 86%);
    clip-path: polygon(86% 87%, 87% 62%, 100% 100%, 56% 86%);
    margin: 15px;
    width: 50px;
    height: 50px;
    background-color: black;
}
.collab_name{
    position: absolute;
    top:-40px;
    left:-73px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 5px 5px 0px 5px;
    visibility: hidden;
    color: black;
    width: 60px;
    height: 25px;
}
@-webkit-keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .hvr-wobble-to-bottom-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-animation-name: hvr-wobble-to-bottom-right;
    animation-name: hvr-wobble-to-bottom-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

