/* Workspace-- Postit Settings */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }
  


  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7A7A7A; }
}
  

#setting_btn, #close{
    outline: none;
}


/* Postit Editing Area*/
[data-toggle="popover"] {
    line-height: 1;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 25px;
    border: 1px solid lightgray;
    font-family: 'Reenie Beanie', Verdana, Tahoma, sans-serif;
    font-size: 24px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFCC33;
    color: black;
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    z-index: 0;
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

[data-toggle="popover"]:hover {
    filter: brightness(90%);
}
.postit::placeholder {
    white-space: normal;
    font-size: 18px;
    color: black;
}


/* Postit Details */
.postit_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.align_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-right: 25px solid transparent;
    box-shadow: gray;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}
.close_postit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    color:transparent;
    position: absolute;
    top: 8px;
    right: 9px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.postit_input{
    margin: 10px 10px;
    height: 100%;
    width: 90%;
    background-color: transparent;
    font-family: 'Reenie Beanie', Verdana,Tahoma, sans-serif;
    font-weight: 100;
    border: none;
    resize: none;
}
.postit_input::placeholder{
    font-family: 'Reenie Beanie', Verdana,Tahoma, sans-serif;
    color: gray;
    align-self: center;

}
.postit_input:focus{
    outline: none;
}

.upload_pic {
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}


.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.title,
.postit_height {
    margin: 0px 10px 0px 5px;
}
.font_size{
    width:80px;
}
.font_size::placeholder {
    font-size: 10px;
}

.postit_size::placeholder {
    font-size: 10px;
}

#postit_width {
    margin: 0px 10px 0px 13px;
}
#post_height{
    margin: 0px 10px;
}

.select_btn{
    border: black solid 1px;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    margin: 0px;
}

.select_btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

#filename {
    font-family: 'Reenie Beanie', Verdana, sans-serif;
    font-size: 20px;
    margin-left: 8px;
}

label {
    margin: 0px;
}

span {
    margin-left: 5px;
}
.upload_img{
    width: auto;
    height: auto;
}

.wrap_checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Popover Settings */
#main-title {
    cursor: pointer;
}

.popover-body {
    background-color: lightgray;
}

.bs-popover-auto[x-placement^=left]>.arrow::after,
.bs-popover-left>.arrow::after {
    right: 1px;
    border-width: .5rem 0 .5rem .5rem;
    border-left-color: lightgray;
}

.bs-popover-auto[x-placement^=right]>.arrow::after,
.bs-popover-right>.arrow::after {
    right: 1px;
    border-width: .5rem 0 .5rem .5rem;
    border-right-color: lightgray;
}
  
  
.lock_msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: black; 
    opacity: 70%; 
    font-size: 20px; 
    color: white; 
    text-align: center;
    height: 100%;
    width: 100%; 
    position: absolute;
    margin: 0px;
    padding: 5px 5px;
    visibility: hidden;
}
#lock_content{
    margin-bottom: 0px;
}
.collab_cursor{
    position: absolute;
    top:-45px;
    left:-45px;
    visibility: hidden;
    -webkit-clip-path: polygon(62% 42%, 0 42%, 100% 100%);
    clip-path: polygon(62% 42%, 0 42%, 100% 100%);
    margin: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
}
.collab_name{
    position: absolute;
    top:-50px;
    left:-80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    color: black;
    max-width: 150px;
    height: 25px;
    overflow-wrap: break-word;
}
@-webkit-keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes hvr-wobble-to-bottom-right {
    16.65% {
      -webkit-transform: translate(8px, 8px);
      transform: translate(8px, 8px);
    }
    33.3% {
      -webkit-transform: translate(-6px, -6px);
      transform: translate(-6px, -6px);
    }
    49.95% {
      -webkit-transform: translate(4px, 4px);
      transform: translate(4px, 4px);
    }
    66.6% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    83.25% {
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .hvr-wobble-to-bottom-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-animation-name: hvr-wobble-to-bottom-right;
    animation-name: hvr-wobble-to-bottom-right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
.hidden{
    display: none;
}


