  /*---Basic Style---*/
  * {
    box-sizing: border-box;
}
li {
    list-style: none;
}
.section {
    height: 94vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    /* font-family: 'Rowdies','cursive', sans-serif; */
    font-family: 'Playfair Display', cursive, monospace;
    width: 100vw;
    overflow-x: hidden;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin: 2px 10px;
    border: none;
}

/*---Header---*/
/* Workspace Nav */
.main_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    position: relative;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    /* background-color: black; */
}
.break_header{
    position: absolute;
    bottom: 0px;
    left: 2vw;
    border-bottom: darkgray 1px solid;
    width: 96vw;
}
.left_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 42px;
    height: 30px;
    padding-right: 10px;
    margin-left: 30px;
    cursor: pointer;
}
.break{
    width:1px;
    height: 15px;
    margin-right: 10px;
    border-right: 1px solid black;
}
#workspace_title{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.page_title{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.right_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:auto;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.saveStatus{
    color: #7A7A7A;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    margin-right: 10px;
    border-bottom: #7A7A7A solid 1px;
    animation: 
        blink-caret .75s step-end infinite;
        /* animation-duration: 10s;
        animation-iteration-count: infinite; */
}
.list_item{
    color: black;
}

.greeting{
    width: 30px;
    height: 30px;
    background-color: #FFCC33;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    padding-left: 9px;
    padding-top: 6.5px;
    line-height: 10px;
}

/* Dashboard */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: black;
}

.add_btn {
    font-size: xx-large;
    padding: 7px 15px;
    background-color: white;
    border: 0.05px solid darkgray;
    outline: none;
    position: absolute;
    right: 80px;
    bottom: 50px;
    border-radius: 5px;
}

.add_btn:hover {
    color: white;
}
/*---Scrollbar Style---*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: dimgray;
    opacity: 30%; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
    cursor: pointer;
  }


/*---Footer---*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222021;
    height: 6vh;
}

.copyright {
    align-self: center;
    font-family: sans-serif;
    color: grey;
    font-size: 13px;
    font-weight: 300;
    margin: 20px 0px 20px 0px;
}