/*---Workspace---*/
.workspace{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; */
    flex-wrap: wrap;
    height: 106vh;
    width: 100vw;
    overflow: auto;
    max-width:100%;
    margin-top: 28vh;
    /* background-image: url("../img/BP_fav.png"); */
    /* background-repeat: repeat space; */
}

/* Collaboration */
.dropdown{
    /* position: absolute;
    top: 10px;
    right: 10px; */
    display: inline-block;
}
.dropShow{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 0px 5px;
    /* border: black 1px solid; */
}
.dropShow:hover{
    filter: brightness(0%);
}
.dropImg{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


  /* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position:absolute;
    top:30px;
    right:0px;
    /* background-color: white; */
    min-width: 160px;
    background-color: lightgray;
    /* border: gray 1px solid; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
    display: block;
}
  
.dropNumber{
    color: gray;
    font-size: 13px;
}
.dropdown_item{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dropName{
    font-size: 13px;
}
.dropColor{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin-left: 5px;
}



/*---Section---*/
/* Alert Position */
.work_alert{
    position: absolute;
    top: 9vh;
    right: 2vw;
}

/* Toolbar */
.toolbar{
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow:2px -3px 3px 1px lightgrey;
    padding-left: 0px;
    border-radius: 0px 5px 5px 0px;
    border: solid #FFCC33 3px;
    z-index: 2; 
    background-color: #FFCC33;
}
.toolbar_item{
    padding: 5px 10px 10px;
    border-radius: 4px;
}
.icon{
    width: 25px;
    height: 25px;
    margin: 0px 2px;
    cursor: pointer;
}
.cowork{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: relative;
}
.shareLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0vh;
    left: 55px;
    width: 250px;
    height: 42px;
    background-color: #FFCC33;
    border-radius: 5px;
    text-overflow: ellipsis;
}

.link{
    display: inline-block;
    width: 200px;
    height: 25px;
    border: darkgray 1px solid;
    font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
}
.copyLink{
    cursor: pointer;
    margin: 0px 5px;
}

.template{
    position: relative;
}
.template_list{
    position: absolute;
    top: 0;
    left: 55px;
    width: 225px;
    padding: 5px 10px;
    background-color: #FFCC33;
    border-radius: 6px;
}
.template_list_item{
    padding: 3px 5px;
    border-radius: 6px;
    cursor: pointer;
}
.template_bg{
    /* display:none; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left: 0px;
    filter: grayscale(100%);
    object-fit: fill;
    /* object-position: 0px 35px; */
}

/*---Scrollbar Style---*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: dimgray;
    opacity: 30%; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
    cursor: pointer;
  }


